services:
  jenkins:
    build: .  # 위에서 만든 Dockerfile을 사용하여 빌드
    container_name: jenkins-master
    user: root # docker.sock 접근 권한을 위해 root로 실행 (현장에서는 권한 그룹을 따로 분리하기도 함)
    restart: always
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      # [핵심] 호스트의 도커 데몬을 Jenkins 컨테이너와 공유
      - /var/run/docker.sock:/var/run/docker.sock

volumes:
  jenkins_home:

